/* Mobile devices (landscape phones, 320px and up) */
@media (min-width: 320px) and (max-width: 575px) {

  /*header_part start*/
  .header_part ul {
    display: none;
  }

  /*header_part end*/
  /* navbar_part start */

  .banner_part .carousel-indicators button {
    display: none;
  }

  .banner_part .carousel-item .banner_overlay .banner_text {
    display: none;
  }

  /* navbar_part end */

  /* prome_part start */

  .prome_part {
    padding: 40px 0px;
  }

  .prome_part img {
    width: 100%;
  }

  /* prome_part end */

  /* featured_part start */

  .bestsell_part .bestsell_all .bestsell_slider.owl-carousel .owl-nav .owl-prev,
  .featured_part .featured_all .featured_slider.owl-carousel .owl-nav .owl-prev {
    right: 14%;
    top: -70px;
  }

  .bestsell_part .bestsell_all .bestsell_slider.owl-carousel .owl-nav .owl-next,
  .featured_part .featured_all .featured_slider.owl-carousel .owl-nav .owl-next {
    right: 4%;
    top: -70px;
  }

  /* bestsell_part end */
  /* featured_part start */



  /* featured_part end */
  /* prome_part start */

  .prome_part1 {
    padding: 10px 0px 40px;
  }

  /* prome_part end */
  /* women_part start */



  .women_part .women_all .women_slider.owl-carousel .owl-nav .owl-prev {
    right: 14%;
    top: -65px;
  }


  .women_part .women_all .women_slider.owl-carousel .owl-nav .owl-next {
    right: 4%;
    top: -65px;
  }

  /* women_part end */
  /* discount_part start */

  .discount_part {
    padding: 40px 0px;
  }

  /* discount_part end */
  /* email_part start */

  .email_part {
    background: #000;
    padding: 15px 0px;
  }

  .email_part .email_all h6 {
    letter-spacing: 0px;
    font-weight: 400;
    padding-top: 0px;
    margin-right: 0px;
  }

  .email_part .email_all .form-control {
    border-radius: 0;
    margin-right: 12px;
  }

  .email_part .email_all .btn-primary {
    padding: 5px 5px;

  }

  /* footer_part start */

  /* team_part start */
  .blog_part .blog_head h1 {
    font-size: 24px;
  }

  /* team_part end */

  /* email_part end */

  .footer_part {
    padding: 20px 0px 50px;
  }

  .footer_part .footer_one h1 {
    font-size: 32px;
  }

  .footer_part .footer_tow {
    margin-top: 30px;
  }

  .footer_part .footer_tow h6 {
    margin-top: 20px;
  }

  .footer_part .footer_three {
    margin-top: 30px;
  }

  /* footer_part end */
}




/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {

  /*header_part start*/
  .header_part ul {
    display: none;
  }

  /*header_part end*/
  /* navbar_part start */

  .banner_part .carousel-indicators button {
    display: none;
  }

  .banner_part .carousel-item .banner_overlay .banner_text {
    margin-top: 40%;
    float: unset;
    text-align: center;
  }

  .banner_part .carousel-item .banner_overlay .banner_text h1 {
    font-size: 28px;
    font-weight: 700;
  }

  .banner_part .carousel-item .banner_overlay .banner_text h5 {
    font-size: 14px;
    margin: 10px 0px;

  }

  .banner_part .carousel-item .banner_overlay .banner_text .btn {
    padding: 3px 8px;
    font-size: 14px;
  }

  /* navbar_part end */
  /* bestsell_part start */

  .bestsell_part .bestsell_all .bestsell_slider.owl-carousel .owl-nav .owl-prev,
  .featured_part .featured_all .featured_slider.owl-carousel .owl-nav .owl-prev,
  .women_part .women_all .women_slider.owl-carousel .owl-nav .owl-prev {
    right: 8%;
    top: -70px;
  }

  .bestsell_part .bestsell_all .bestsell_slider.owl-carousel .owl-nav .owl-next,
  .featured_part .featured_all .featured_slider.owl-carousel .owl-nav .owl-next,
  .women_part .women_all .women_slider.owl-carousel .owl-nav .owl-next {
    right: 2%;
    top: -70px;
  }

  /* email_part start */

  .email_part {
    padding: 15px 0px;
  }

  .email_part .email_all h6 {
    letter-spacing: 1px;
    font-weight: 600;
    padding-top: 0px;

    margin-right: 12px;
  }

  .email_part .email_all .form-control {
    border-radius: 0;
    margin-right: 15px;
  }

  .email_part .email_all .btn-primary {
    text-align: center;
    padding: 5px 15px;
    border-radius: 0;
  }

  /* email_part end */
  .blog_part .blog_head h1 {
    font-size: 32px;
    ;

  }

  /* footer_part start */

  .footer_part {
    padding: 20px 0px 50px;
  }

  .footer_part .footer_one h1 {
    font-size: 32px;
  }

  .footer_part .footer_tow {
    margin-top: 30px;
  }

  .footer_part .footer_tow h6 {
    margin-top: 20px;
  }

  .footer_part .footer_three {
    margin-top: 30px;
  }

  /* footer_part end */
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {

  /* navbar_part start */

  .banner_part .carousel-item .banner_overlay .banner_text {
    margin-top: 30%;
    float: right;
    text-align: right;
    margin-right: 20px;

  }

  .banner_part .carousel-item .banner_overlay .banner_text h1 {
    font-size: 28px;
    font-weight: 700;
  }

  .banner_part .carousel-item .banner_overlay .banner_text h4 {
    font-size: 16px;
    margin: 10px 0px;

  }

  .banner_part .carousel-item .banner_overlay .banner_text .btn {
    padding: 3px 10px;
    font-size: 14px;
  }

  /* navbar_part end */
  /* prome_part start */

  .prome_part {
    padding: 40px 0px;
  }

  /* prome_part end */
  /* bestsell_part start */

  .bestsell_part .bestsell_all .bestsell_slider.owl-carousel .owl-nav .owl-prev,
  .featured_part .featured_all .featured_slider.owl-carousel .owl-nav .owl-prev,
  .women_part .women_all .women_slider.owl-carousel .owl-nav .owl-prev {
    right: 6%;
    top: -70px;
  }

  .bestsell_part .bestsell_all .bestsell_slider.owl-carousel .owl-nav .owl-next,
  .featured_part .featured_all .featured_slider.owl-carousel .owl-nav .owl-next,
  .women_part .women_all .women_slider.owl-carousel .owl-nav .owl-next {
    right: 2%;
    top: -70px;
  }

  .prome_part1 {
    padding: 10px 0px 40px;
  }

  .email_part {
    padding: 15px 0px;
  }

  .email_part .email_all h6 {
    letter-spacing: 1px;
    font-weight: 600;
    padding-top: 0px;

    margin-right: 12px;
  }

  .email_part .email_all .form-control {
    border-radius: 0;
    margin-right: 15px;
  }

  .email_part .email_all .btn-primary {
    text-align: center;
    padding: 5px 15px;
    border-radius: 0;
  }

  /* email_part end */
  /* footer_part start */


  .footer_part .footer_one h1 {
    font-size: 28px;
  }

  .footer_part .footer_one .footer_social a {
    padding: 10px 0px;
    font-size: 12px;
  }

  .footer_part .footer_tow {
    margin-top: 0px;
    font-size: small;
  }

  .footer_part .footer_tow h6 {
    margin-top: 0px;
    font-size: small;
  }

  .footer_part .footer_three {
    margin-top: 0px;
    font-size: small;
  }

 








  /* footer_part end */

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {

  .banner_part .carousel-item .banner_overlay .banner_text {
    margin-top: 20%;
    float: right;
    text-align: right;
    margin-right: 70px;
  }  

  .banner_part .carousel-item .banner_overlay .banner_text h1 {
    font-size: 32px;
    font-weight: 700;
  }

  .banner_part .carousel-item .banner_overlay .banner_text h4 {
    font-size: 18px;
    margin: 10px 0px;

  }

  .banner_part .carousel-item .banner_overlay .banner_text .btn {
    padding: 5px 15px;
    font-size: 16px;
  }


  .bestsell_part .bestsell_head h5,
  .featured_part .featured_head h5,
  .women_part .women_head h5 {
    font-size: 24px;
  }

  .bestsell_part .bestsell_all,
  .featured_part .featured_all,
  .women_part .women_all {
    margin-top: 20px;
  }

  .bestsell_part .bestsell_all .bestsell_slider.owl-carousel .owl-nav .owl-prev,
  .women_part .women_all .women_slider.owl-carousel .owl-nav .owl-prev,
  .featured_part .featured_all .featured_slider.owl-carousel .owl-nav .owl-prev {
    right: 5%;
    top: -70px;
  }

  .bestsell_part .bestsell_all .bestsell_slider.owl-carousel .owl-nav .owl-next,
  .women_part .women_all .women_slider.owl-carousel .owl-nav .owl-next,
  .featured_part .featured_all .featured_slider.owl-carousel .owl-nav .owl-next {
    right: 2%;
    top: -70px;
  }

}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399px) {

  .banner_part .carousel-item .banner_overlay .banner_text {
    margin-top: 25%;
    float: right;
    text-align: right;
    margin-right: 80px;
  }


  .bestsell_part .bestsell_all .bestsell_slider.owl-carousel .owl-nav .owl-prev,
  .women_part .women_all .women_slider.owl-carousel .owl-nav .owl-prev,
  .featured_part .featured_all .featured_slider.owl-carousel .owl-nav .owl-prev {
    right: 5%;
    top: -70px;
  }

  .bestsell_part .bestsell_all .bestsell_slider.owl-carousel .owl-nav .owl-next,
  .women_part .women_all .women_slider.owl-carousel .owl-nav .owl-next,
  .featured_part .featured_all .featured_slider.owl-carousel .owl-nav .owl-next {
    right: 2%;
    top: -70px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}